body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

#header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#related-to-user {
    display:flex; 
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color:black;
}

a:visited {
    color: black;
}

a:hover {
    color:gray;
}

#menu-bar {
    display:flex;
    justify-content: space-evenly;
    background-color: #2a7cac;
}

#buttons {
    display:flex;
    justify-items:flex-start;
}

.dropbtn {
    background-color: #2a7cac;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* 드랍다운 메뉴 위치조정 */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* 드랍다운 컨텐츠들(숨겨짐) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* 드랍다운 메뉴 안에 링크들 */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* 드랍다운 메뉴들 hover 했을 때 색상 변경 */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* 버튼 hover 했을 때 드랍다운 메뉴 보임 */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* 드랍다운 버튼 hover 했을 때 색상 변경 */
  .dropdown:hover .dropbtn {background-color: #698fee94;}
  
  .dropdown-list {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    display: none;
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #eee;
  }

#search-bar {
    display:flex;
    height: 35px;
    
}
#map-and-list-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
  }
  
  #map {
    flex: 2; 
    height: 500px;
    background-color: #eee; 
  }
  
  #list-container {
    flex: 1;
    max-height: 500px;
    overflow-y: auto;
  }
  
  #post-list {
    list-style: none;
    padding: 0;
  }
  #post-list li {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex; 
    align-items: center; 
  }
  
  #post-list li a {
    font-size: 10px;
    color: #333;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    padding: 10px;
  }
  
  .post-image {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
    object-fit: cover; 
  }